<link href="<%= Rails.root + '/alloy-editor/assets/alloy-editor-ocean.css' %>" rel="stylesheet">
<script src="<%= Rails.root + '/alloy-editor/alloy-editor-all-min.js' %>"></script>

<div id="myContentEditable" style="margin-left:50px;margin-top:100px;">
	hola





	tes
</div>

<!-- <%# disqus_thread %> -->
<div id="disqus_thread"></div>
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    /*
    var disqus_config = function () {
        this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//testalloyeditor.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>



<script type="text/javascript">

  var editor = AlloyEditor.editable('myContentEditable', {
	// imageUploadUrl: "<%=save_image_path%>",
	// uploadUrl: "<%=save_image_path%>",
	extraPlugins: AlloyEditor.Core.ATTRS.extraPlugins.value + ',ae_uibridge,ae_buttonbridge,youtube',
	toolbars: {
		add: {
        buttons: ['image', 'Youtube', 'link', 'camera', 'hline', 'table'],
        tabIndex: 2
    },
    styles: {
        selections: AlloyEditor.Selections,
        tabIndex: 1
    }
	}
  });

  editor.get('nativeEditor').on('imageAdd', function(event) {

	if (window.FormData) {
	formdata = new FormData();
	console.log("create FormData");
	}


	if (formdata) {
	  formdata.append("images[]", event.data.file);
	  console.log("append to formData");
	}


	if (formdata) {
	  $.ajax({
	    url: "<%=save_image_path%>",
	    type: "POST",
	    data: formdata,
	    processData: false,
	    contentType: false,
	    success: function(res){
	      console.log("success");
	    	console.log(res.url.path);
	    	event.data.el.setAttribute('src', res.url.path);
	    },
	    done: function(){
	    	console.log('done');
	    	console.log(this);
	    },
	    complete: function(res){
	    	console.log("complete");
	    	console.log(res);
	    	if(res.status == 200){
	    		// event.data.el.setAttribute('src',)
	    	}
	    },
	    error: function(res){
	    	console.log("error");
	    	console.log(res);
	    }

	  });
	}

	// console.log(event.data.el.setAttribute('src',))


});
</script>